
/__pycache__
/python/nfvo_solcon_tosca/__pycache__
/.idea
/test/internal/lux/lux_Logs

/outputs
/examples

/build
/dist
/logs

*.log
*.spec
*.pyc
# Word temporary
~$*.doc*
# Word Auto Backup File
Backup of *.doc*
# Excel temporary
~$*.xls*
# Excel Backup File
*.xlk
# PowerPoint temporary
~$*.ppt*
# Visio autosave temporary files
*.~vsd*
