
/__pycache__
/python/tailf_etsi_rel2_nfvo_tosca/__pycache__
/.idea
/test/internal/lux/lux_Logs
/outputs
/build
/dist

*.spec
# Word temporary
~$*.doc*
# Word Auto Backup File
Backup of *.doc*
# Excel temporary
~$*.xls*
# Excel Backup File
*.xlk
# PowerPoint temporary
~$*.ppt*
# Visio autosave temporary files
*.~vsd*
